<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>会员中心-郑州高品质二手车专家_河南亿金名车广场</title>
<meta name="description" content="亿金汽车"/>
<meta name="keywords" content="郑州二手车,河南二手车,郑州二手名车">
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/layout.css">
<link rel="stylesheet" type="text/css" href="css/hurst.css">
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>

<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG.js"></script>
<script>
        DD_belatedPNG.fix('*');
    </script>
<![endif]-->
</head>
<body>

<div id="header">
	<div class="top">
		<div class="wrap clearfix">
			<a href="#" class="logo left"><img src="images/logo.png"/></a>
	  <div class="nav left dInline" id="headerMenu">
      <a class="on" href="index.html">首页</a>
      <a href="about.html">关于亿金</a>
      <a href="maiche_list.html">我要买车</a>
      <a href="wymc.html">我要卖车</a>
      <a href="srdz.html">私人定制</a>
      <!--<a href="shfw.html">售后服务</a>-->
      <a id="MemberMenuChange" class="b-login" href="会员中心首页.html" target="_self">会员中心</a>
      </div>
			<span class="right" id="rightMenuHtml">
<a href="#">董平运</a>|<a href="#" id="b-tuichu">退出</a>|&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/tel.png"/>
			</span>
		</div>
	</div>
	<div class="head-search">
		<div class="wrap clearfix">
			<div class="yjxj clearfix left" action="/index/keyword/" method="post" enctype="multipart/form-data">
        <input type="text" name="keyword" placeholder="请输入您想要的品牌、车系或车辆编号搜索" class="left" />
        <input type="submit" value="搜 索" class="right" />
      </div>
			<div class="hotWords left dInline">
				热门品牌：<a href="#">奥迪A6L</a><a href="#">宝马5系</a><a href="#">奔驰E级</a><a href="#">奥迪A4L</a><a href="#">奔驰C级</a>     
			</div>
		</div>
	</div>
</div>

<div id="about">
  <div class="mTags wrap"> <a href="/">亿金名车广场</a>><a href="/member/index/channel/7.html">会员中心</a>><a href="/Member/car/channel/7/list/12.html">我的车</a> </div>
  <div class="mebBox">
    <div class="meb-cont clearfix wrap">
      <div class="meb-nav left dInline">
        <ul class="clearfix">
					<li><a href="会员中心首页.html">会员中心</a></li>
                    <li><a href="会员中心_我的需求.html">我的需求</a></li>
                    <li class="on"><a href="会员中心_我的车.html">我的车</a></li>
                    <li><a href="会员中心_账户管理.html">账户管理</a></li>				
                </ul>
      </div>
      <div class="meb-right right dInline">
        <div class="mr-top">
          <div class="mr-top-div clearfix"> <span class="left"> <img src="images/photo.png"/> </span>
            <div class="mr-infor left dInline">
              <h2>中午好，尊敬的会员 <b>董平运</b></h2>
              <p> 手机：15138911875   邮箱：  |  [ <a href="#">管理账户信息</a> ] </p>
            </div>
          </div>
        </div>
        <div class="mr-detail">
          <div class="mr-tab clearfix"> <a class="on">我购买的车</a> 
            <!--<a>售后历史</a>--> 
          </div>
          <div class="me-box me-box1">
            <div class="me-dl" style="display:block;">
              <div class="me-one">
                <ul class="cs-list">
                  <ul class="cs-list">
                  </ul>
                  <div class="hPages"></div>
                </ul>
              </div>
              <div class="me-more"> <a href="/Cars/index/channel/2.html">
                <h3>您目前没有，没有购买的车型！</h3>
                <p>点击这里查看更多车型...</p>
                </a> </div>
            </div>
         
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--footer部分开始-->

<div id="footer">
  <div class="foot-a1">
    <div class="wrap">
      <ul class="clearfix">
        <li> <img src="images/db1.png"/>
          <p>365项检测认证</p>
        </li>
        <li> <img src="images/db2.png"/>
          <p>5000公里无需保养</p>
        </li>
        <li> <img src="images/db3.png"/>
          <p>1年或两万公里无忧质保</p>
        </li>
        <li> <img src="images/db4.png"/>
          <p>7天无忧退换</p>
        </li>
        <li> <img src="images/db5.png"/>
          <p> 置换有增值</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="foot-a">
    <div class="wrap clearfix">
      <div class="fDl left dInline "> <strong>亿金承诺</strong>
        <ul>
          <li><a href="#">365项严苛检测</a></li>
          <li><a href="#">5000公里无需保养</a></li>
          <li><a href="#">一年或两万公里质保</a></li>
          <li><a href="#">7天退换</a></li>
        </ul>
      </div>
      <div class="fDl left dInline "> <strong>买卖二手车指南</strong>
        <ul>
          <li><a href="#" target="_blank">《美人鱼》里的主演都开什</a></li>
          <li><a href="#" target="_blank">“禁止长时间停车”到底能</a></li>
          <li><a href="#" target="_blank">20年前开桑塔纳的大款们，</a></li>
          <li><a href="#" target="_blank">豪华入门跨界车之争,奔驰G</a></li>
          <li><a href="#" target="_blank">像初恋一样爱它，该给它怎</a></li>
        </ul>
      </div>
      <div class="fDl left dInline "> <strong>售后服务</strong>
        <ul>
          <li><a href="#">24小时道路救援</a></li>
          <li><a href="#">豪车凹陷修复</a></li>
          <li><a href="#">定期上门维修保养服务</a></li>
          <li><a href="#">预约保养工时优惠</a></li>
        </ul>
      </div>
      <div class="fDl left dInline "> <strong>关于亿金</strong>
        <ul>
          <li><a href="#" target="_blank">亿金动态</a></li>
          <li><a href="#" target="_blank">亿金荣誉</a></li>
          <li><a href="#" target="_blank">亿金优势</a></li>
          <li><a href="#" target="_blank">联系亿金</a></li>
        </ul>
      </div>
      <div class="fDl left dInline "> <strong>亿金文化</strong>
        <ul>
          <li><a href="#">诚·立中原</a></li>
          <li><a href="#">信·立天下</a></li>
          <li><a href="#">改变、规范、引领一方市场</a></li>
          <li><a href="#">颠覆中原人购车理念</a></li>
        </ul>
      </div>
      <div class="fDl left dInline fDl1">
        <div class="dLx"> <img src="images/dLx.jpg"/> </div>
        <div style="height:50px;"></div>
      </div>
    </div>
  </div>
  <div class="foot-b"> Copyright © 2015 qcauto All Rights Reserved 河南亿金有限公司 版权所有 豫ICP备123456789号<br/>
    地址：郑州市管城区紫荆山东大街裕鸿花园 服务热线：400-888-6666<br/>
     </div>
</div>

<!--footer部分结束-->
<div id="miniBus" style="right:-270px;">
  <div class="mini-bar">
    <div class="mini-barlist">
      <ul>
        <li class="miItem">
          <div class="mini-mi browse"> <i class="mini-ease"></i> <code></code> <span>最近浏览</span> </div>
        </li>
        <li class="miItem">
          <div class="mini-mi collec"> <i class="mini-ease"></i> <code></code> <span>我的收藏</span> </div>
        </li>
        <li>
          <div class="mini-mi service"> <i class="mini-ease" id="BizQQWPA"></i> <code></code> <span>在线客服</span> </div>
        </li>
        <li class="callItem">
          <div class="mini-mi callback"> <i class="mini-ease"></i> <code></code> <span>意见反馈</span> </div>
        </li>
        <li class="miItem">
          <div class="mini-mi shopping"> <i class="mini-ease"></i> <code></code> <span>对比车辆</span> <abbr id="Dbnumber">0</abbr> </div>
        </li>
      </ul>
    </div>
    <a class="mini-gotop"></a> <a class="wx1"><img src="images/wx_1.png"></a>
    <div class="wmImg hide"> <img src="images/wx_2.png"> </div>
  </div>
  <div class="mini-cont">
    <div class="mini-contlist">
      <div class="mini-ni">
        <div class="mini-h clearfix"> <a class="mini-close mini-ease lf-fl"></a> <span class="lf-fr"><code>最近浏览</code></span> </div>
        <div class="miList" id="Liulan">
          <ul>
          </ul>
        </div>
      </div>
      <div class="mini-ni">
        <div class="mini-h clearfix"> <a class="mini-close mini-ease lf-fl"></a> <span class="lf-fr"><code>我的收藏</code></span> </div>
        <div class="miList" id="shoucang">
          <ul>
            <li class="clearfix"> <a href="/Cars/index/channel/2/id/287.html" target="_blank"><img src="/Uploads/PhotoGalley/2015-09-24/5603c5d024bca.JPG-thumb.JPG" class="left" width="80" /></a>
              <h3><a href="/Cars/index/channel/2/id/287.html" target="_blank">奥迪A4L 2013 款 2.0T CVT 35TFSI 技术型</a></h3>
              <div class="mi_a clearfix"> <strong class="left">￥28.2万元</strong> <a href="javascript:void(0)" onclick="balance('287')" class="right mini-tocar balance_287">加入对比</a>
                <input type="hidden" class="CarValue_287" value="{img:'/Uploads/PhotoGalley/2015-09-24/5603c5d024bca.JPG-thumb.JPG',id:'287',price:'28.2',status:'加入对比',title:'奥迪A4L 2013 款 2.0T CVT 35TFSI 技术型',url:'/Cars/index/channel/2/id/287.html'}" />
              </div>
              <a class="mini-m-close"></a></li>
          </ul>
          <a href="/Member/need/channel/7/list/11" class="mini-fav">查看更多收藏</a> </div>
      </div>
      <!--<div class="mini-ni">
				<div class="mini-h clearfix">
					<a class="mini-close mini-ease lf-fl"></a>
					<span class="lf-fr"><code>在线客服</code></span>
				</div>
			</div>-->
      <div class="mini-ni" id="shopping">
        <div class="mini-h clearfix"> <a class="mini-close mini-ease lf-fl"></a> <span class="lf-fr"><code>对比车辆</code></span> <span class="lf-fr" style="margin:auto 10px; font-size:26px; font-weight:bolder" id="deletealldb"><a><code>×</code></a></span> </div>
        <div class="miList" id="Carduibi">
          <ul>
          </ul>
          <a href="/Cars/contrast/channel/2.html" class="mini-fav">立即对比</a> </div>
      </div>
    </div>
  </div>
  <div class="lf-view" id="lf-view">
    <form onsubmit="return Lmessage();" enctype="multipart/form-data" method="post" name="leaveMess" id="leaveMess">
      <b>您对我们的看法~</b>
      <div>
        <textarea placeholder="您的声音对我们很重要哟(必填)~" name="bankAuthSrc"></textarea>
      </div>
      <div> <a id="viewSubmit" onclick="$('#leaveMess').submit()"></a>
        <input type="text" placeholder="请留下您的手机号码(必填)" id="viewAbout" name="mobile" value="15138911875" disabled="disabled" />
      </div>
    </form>
    <a id="viewClose"></a> <i id="viewIcon"></i>
    <p id="viewSign"></p>
  </div>
</div>
<div id="popBox">
  <div class="popCont"> <a class="p_closed">关闭</a>
    <div class="p-tab"> <a>会员登录<i></i></a><a>会员注册<i></i></a> </div>
    <div class="p-detail">
      <div class="p-dl">
        <form onsubmit="return check();" enctype="multipart/form-data" method="post" name="form" id="form">
          <ul class="login-items">
            <li>
              <label>用户名(手机号)</label>
              <input class="input" type="text" value="" maxlength="32"  name="username" placeholder="请输入您的手机号">
            </li>
            <li>
              <label>密码</label>
              <input class="input" type="password" value="" maxlength="16"  name="password">
            </li>
          </ul>
          <div class="login-check">
            <input type="checkbox" name="checkbox" style=" width:auto;" />
            <label>记住我</label>
            <a href="/Meet/editPass">忘记登录密码？</a> </div>
          <div class="login-button">
            <input type="hidden" value="" name="carid" class="ordercarid" />
            <input type="hidden" value="" name="carstatus" class="orderstatus" />
            <input type="button"  value="登&nbsp;&nbsp;&nbsp;&nbsp;陆" class="fM" onclick="$('#form').submit()" />
          </div>
          <!--<div class="security-pro">
			            <i class="icons ver-green-down"></i>
			            <b>您的信息已通过256位SGC加密保护，数据传输安全</b>
			        </div>-->
        </form>
      </div>
      <div class="p-dl">
        <form class="registForm" onsubmit="return regcheck();" enctype="multipart/form-data" method="post" name="reg" id="reg">
          <ul class="login-items">
            <li class="clearfix">
              <input class="input" name="mobile" id="mobile" type="text" value="" placeholder="手机号码（登录帐号）">
            </li>
            <li class="clearfix">
              <input class="input left" type="text" value=""  name="verify" placeholder="输入验证码" style="width:100px;" />
              <div id="send"><a href="#" class="send_code right">获取验证码</a></div>
            </li>
            <li class="clearfix">
              <input class="input" type="text" value=""  name="realname" placeholder="姓名">
            </li>
            <li class="clearfix sex">
              <input type="radio" checked="" name="gender" value="M" />
              男&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="radio" name="gender" value="F" />
              女 </li>
            <li class="clearfix">
              <input id="" class="input" type="password" name="password" value="" placeholder="输入密码（六位字符）">
            </li>
          </ul>
          <div class="login-button">
            <input type="hidden" value="" name="carid" class="ordercarid" />
            <input type="hidden" value="" name="carstatus" class="orderstatus" />
            <input type="button"  value="立即注册" class="fM" onclick="$('#reg').submit()" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/miniBar.js"></script> 
<script type="text/javascript" src="js/lg_reg.js"></script> 
<script type="text/javascript">
$(function(){
	$('.mr-tab a').each(function(index){
		$(this).click(function(){
			$(this).addClass('on').siblings().removeClass('on');
			$('.me-dl').eq(index).show().siblings().hide();
		})
	});
})
</script> 
<script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Faa70c6792578150b40ad413464080efa' type='text/javascript'%3E%3C/script%3E")) </script>
</body>
</html>